@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>hello to product Manager web app</p>
    <p>this is simple web app create by asp.net core mvc</p>
    <button class="product-class" onclick="product_link()">Product</button>
</div>

<script>
    function product_link() {
        window.location.href = "/product";
    }
</script>